@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::selection {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}

body {
  background-color: #000;
}